<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Portfolio</title>
   <%= stylesheet_link_tag "home_work", :media => "all" %>
    </head>
 
 <body bgcolor="#E2EBF4" >


<table class="table" border-radius="8">

<tr><td>
   <table class="table" > 
      <caption>   Калиновская Дарья Петровна</caption>  
      
   <tr>
     <td  > <%= image_tag "Gusenitsa.png" %></td>
     <td >
    <div>
     <p><a class="href" href=#> Обо мне</a> </p>
     <p><a class="href" href=#> Мои работы</a></p> 
     <p><a class="href" href=#> Сделать заказ</a></p> 
     <p><a class="href" href=#> Контакты</a></p> 
     </div>
     </td>
    </tr>
 </td>  </tr>
</table>
</table>
 </body>
</html>